@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep only custom styles that you absolutely need */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
